doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title #{title}
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css' integrity='sha256-ASp4bvLQ21NxBA4wvjJMyb/mZfPm2/HWSCTvQPhg3wE=' crossorigin='anonymous')
		link(rel='stylesheet' href='/style.css')

		block head

	body
		main
			header.mb-5.border-bottom
				.container
					.row
						.col-xlg-1
							h1.float-left
								a(href='/').mr-3
									img(src='/logo.svg')

						.col-lg-11
							form(action='/search' autocomplete='off')
								.input-group.mb-3
									input#search.form-control(name='q' placeholder='Search plugins' type='text' autocomplete='off')
									button.d-none(type='submit') Search


			.container
				block content

		script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js' integrity='sha256-VCsWOz+0GuHdS/sIICtQNTFJdbaDI80rxvoB7BXabrU=' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js' integrity='sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA=' crossorigin='anonymous')

		script.
			$('#search').typeahead({
				highlight: true,
				autoselect: false,
				hint: false,
				minLength: 3
			}, {
				display: 'name',
				source: new Bloodhound({
					datumTokenizer: Bloodhound.tokenizers.whitespace,
					queryTokenizer: Bloodhound.tokenizers.whitespace,
					remote: {
						url: '/api/search.json?q=%QUERY%',
						wildcard: '%QUERY%',
						transform: function(data) {
							return data.results;
						}
					}
				})
			}).bind('typeahead:select', function(e, suggestion) {
				window.location.href = '/' + suggestion.name;
			});

		block footer
