each release in releases
	.list-group.markdown
			a.list-group-item.list-group-item-action.flex-column.align-items-start(href='/' + plugin.name + '@' + release.tag)
				.d-flex.w-100.justify-content-between
					h5.mb-1 #{release.tag}
					small
						time(datetime=moment(release.created).format('YYYY-MM-DD') title=moment(release.created).format('YYYY-MM-DD')) #{moment(release.created).fromNow()}
				p.mb-1
					!= release.notes
