body {
	font-family: 'Open Sans', sans-serif;
}

header .container {
	max-width: 1540px;
}

header h1 a {
	line-height: 4.5rem;
	color: black;
}

header h1 a:hover {
	text-decoration: none;
}

header h1 a img {
	width: 4rem;
}

header form {
	margin-top: 1.25rem;
	font-family: 'Courier New', Courier, monospace;
}

header form input#search::placeholder {
	color: #A5A5A5;
}
